:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.login{
    width: 100%;/*determinamos el ancho del contenido*/
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px; /*determinamos el ancho del contenido*/ 
}

.logo{
    width: 150px;
    margin-bottom: 48px; /*determinamos la separacion inferior*/ 
    justify-self: center;
    display: none;
}

.title {
    font-size: var(--lg);
    margin-bottom: 12px; /*determinamos la separacion inferior*/ 
    text-align: center;

}

.subtitle{

color: var(--very-light-pink);
font-size: var(--md);
font-weight: 300;
margin-top: 0; /* determinamos la separacion superior*/ 
margin-bottom: 32px; /*determinamos la separacion inferior*/ 
text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px; /*determinamos la altura del elemento*/ 
    font-size: var(--md);
    padding: 10px;
    margin: 0 0 12px 0;
}

.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%; /*determinamos el espacio que ocupará a lo ancho*/ 
    height: 40px; /*determinamos altura */ 
    font-size: var(--md);
    font-weight: bold;
}

.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}

@media (max-width: 640px) {
    .logo{
        display: block;
    }
}